<!-- Login.cshtml -->
@* <form method="post" asp-action="Login">
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="Senha" placeholder="Senha" required>
    <button type="submit">Login</button>
</form>
 *@

<style>
   
</style>
<div class="loginBody">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/Account/Login" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <span class="error-message">@ViewData["ErrorMessage"]</span>
        }
    </div>
</div>