<!-- Login.cshtml -->
@* <form method="post" asp-action="Login">
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="Senha" placeholder="Senha" required>
    <button type="submit">Login</button>
</form>
 *@

<style>
    .error-message {
        color: red;
        margin-top: 10px;
    }
    .loginBody{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .login-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        text-align: center;
        position: absolute;
    }

    h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .input-group {
        margin-bottom: 15px;
        text-align: left;
    }

        .input-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>
<div class="loginBody">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/Account/Login" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <span class="error-message">@ViewData["ErrorMessage"]</span>
        }
    </div>
</div>