@model LocalDeAplicacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LocalDeAplicacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroInscricao" class="control-label"></label>
                <input asp-for="NumeroInscricao" class="form-control" />
                <span asp-validation-for="NumeroInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMunicipio" class="control-label"></label>
                <input asp-for="NomeMunicipio" class="form-control" />
                <span asp-validation-for="NomeMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoMunicipio" class="control-label"></label>
                <input asp-for="CodigoMunicipio" class="form-control" />
                <span asp-validation-for="CodigoMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoUF" class="control-label"></label>
                <input asp-for="CodigoUF" class="form-control" />
                <span asp-validation-for="CodigoUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiglaUF" class="control-label"></label>
                <input asp-for="SiglaUF" class="form-control" />
                <span asp-validation-for="SiglaUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
